#__next, .App {
    height: 100%;
}

.loading.cover-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loading.cover-page {
    position: fixed;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.loading .ant-spin {
    color: #3e79f7;
}

.custom-top-nav.ant-menu-horizontal > .ant-menu-item-selected {
    transition: color .2s ease, background-color .2s ease;
    /*background-color: rgba(62, 121, 247, .1);*/
    color: rgb(62, 121, 247);
    border-radius: 4px;
}

.custom-top-nav.ant-menu-horizontal > .ant-menu-item-active:hover {
    transition: color .2s ease, background-color .2s ease;
    /*background-color: rgba(239, 242, 245, .4);*/
    color: rgb(62, 121, 247);
    border-radius: 4px;
}

.custom-menu .ant-menu-inline {
    border-right: none;
}

.custom-menu .ant-menu-item {
    border-radius: 4px;
}

.custom-menu .ant-menu-item-active {
    background-color: rgba(62, 121, 247, .1);
}

.custom-menu .ant-menu-item-group:first-child .custom-menu .ant-menu-item-group-title {
    margin-top: 8px
}

.question-overview {

}

.exam-short-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 1.5em;
    line-height: 1.5em;
}

.short-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 1.2em;
    line-height: 1em;
}

.short-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 3em;
    line-height: 1.5em;
}

.main-short-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 4.5em;
    line-height: 1.5em;
}

.custom-widget .statistic-widget-card {
    padding: 8px 16px;

}

.custom-widget .border {
    border: 1px solid #eff2f5 !important;
}

.custom-widget .border-dashed {
    border-style: dashed !important;
    border-color: #e4e6ef !important;
    border-radius: 0.475rem !important;
}


.profile .tab-profile.ant-tabs-nav::before {
    border-bottom: none;
}

.profile .tabs-desktop .ant-tabs-nav {
    padding-right: 48px;
    padding-left: 48px;
}


.profile .tabs-mobile.ant-tabs-nav {
    padding-right: 4px;
    padding-left: 4px;
}


.profile .button .btn-light {
    color: #7e8299;
    border-color: #f5f8fa;
    background-color: #f5f8fa;
}

.profile .button .btn-color-muted {
    color: #a1a5b7;
}

.profile .button .btn-active-light-danger:hover {
    color: #f1416c;
    border-color: #fff5f8;
    background-color: #fff5f8 !important;
}

.profile .button .btn-active-light-success:hover {
    color: #50cd89;
    border-color: #e8fff3;
    background-color: #e8fff3 !important;

}

.profile .ant-tabs-top > .ant-tabs-nav::before {
    border-bottom: none;
}

.profile .button .btn-sm {
    padding: 0.5rem 1.25rem;
    font-size: .925rem;
    border-radius: 0.475rem;
}

.comment-list .comment-l1 .author .comment-content {
    padding: 14px;
    border-radius: 16px;
    background-color: #f0f2f5;
}


@media (min-width: 800px) {
    .comment-list .comment-l1 .author .padding-lg-2 {
        padding: 48px
    }
}


.comment-list .comment-l2 {
    margin-left: 2.5rem !important;
}

.comment-list .comment-l2 .author .comment-content {
    padding: 14px;
    border-radius: 16px;
    background-color: #f0f2f5;
}

.home .card-post-banner {
    height: 436px;
    color: rgb(255, 255, 255);
    background: rgb(54, 77, 121);
    border-radius: 8px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5)), url("https://bcu.imgix.net/mindfulness-and-breathing-techniques-for-exam-revision.jpg?auto=format&fm=jpg");
    padding: 20px;
}

.home .card-post-banner .slide-wrapper {
    width: 100%;
    border-radius: 8px;
    overflow: hidden !important;
    position: relative;
    height: 400px;
    text-align: left;
}

.home .card-post-banner .slide-wrapper .content {
    position: absolute;
    bottom: 0;
}

.home .card-post-banner .slide-wrapper .content .title {
    color: rgb(255, 255, 255);
}

.home .card-post-banner .slide-wrapper .content .description {
    color: rgb(255, 255, 255);
}

.home .card-post-banner .slide-wrapper .content .exam-tag {
    color: rgb(255, 255, 255);
}

.banner-image {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.button-google-login {
    height: 40px;
    border-radius: 10px;
    width: 100%;
    justify-content: center;
}

.button-google-login div {
    padding: 0 8px !important;
    transform: translateY(3px);
    margin-right: 0 !important;
    border-radius: 10px;
}

.button-facebook-login {
    height: 40px;
    width: 100%;
    border: none;
    background: #4267B2;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.wrong-answer {
    color: #01d087;
    font-weight: 600
}

.correct-answer {
    color: #01d087;
    font-weight: 600
}

.default-answer {
    color: black;
    font-weight: 400
}

.ant-radio {
    top: .2em;
}

.question p, .question span {
    color: #1a3353;
    margin-bottom: 0;
}

.answer p, .answer span {
    color: #1a3353;
    margin-bottom: 0;
}

.question-controls {
    opacity: 0.2;
    transition: all 100ms ease-in-out;
}

.question-controls:hover {
    opacity: 1;
}

.correct .ant-radio-checked .ant-radio-inner {
    border-color: #01d087
}

.correct .ant-radio-checked .ant-radio-inner::after {
    background-color: #01d087;
}

.wrong .ant-radio-checked .ant-radio-inner {
    border-color: #ff6b72;
}

.wrong .ant-radio-checked .ant-radio-inner::after {
    background-color: #ff6b72;
}

.button-reply:hover {
    text-decoration: underline;
    cursor: pointer;
}

.select-reaction {
    display: flex;
    padding: 10px 10px 0 10px;
    border-radius: 30px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
}

.select-reaction div {
    margin-right: 8px;
}

.select-reaction div:hover div {
    transform: scale(1.3);
}

.wrap-reaction {
    top: -48px;
    left: 0;
    position: absolute;
    height: 50px;
    width: 300px;
}

.button-reaction::before {
    content: '';
    width: 100%;
    position: absolute;
    top: -10px;
    height: 10px;
}

.wrap-reaction-info {
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 1px 3px 0 3px;
    align-items: center;
    height: 25px;
    position: relative;
}

.wrap-reaction-info div {
    border: 2px solid white;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
}

.under-line:hover {
    text-decoration: underline;
}

.button-vote {
    width: 39px;
    border-radius: 50%;
    font-size: 26px;
    color: #b3b5b7;
}

.button-vote:hover {
    background-color: #f0f2f5;
}

/*custom scroll bar list*/

/* width */
.custom-scroll-bar::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.custom-scroll-bar::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
    background: #d3d5d9;
    border-radius: 10px;
}

.comment-option {
    visibility: hidden;
}

.comment:hover .comment-option {
    visibility: visible;
}


.ant-comment-content-detail img {
    max-width: 350px;
    min-width: 10vw;
    width: 100%;
}

.ant-comment-content-detail code {
    white-space: pre-wrap;
    border: none;
    color: #999
}

.ant-comment-content-detail pre {
    margin: 2px 0 8px;
    padding: 18px;
    background-color: #f4f7f8 !important;
}

.activity-history-items {
    padding: 8px 8px 0 8px;
    border-radius: 10px;
}

.activity-history-items:hover {
    background-color: #f0f2f5;
}

.user-form .readOnly {
    cursor: not-allowed;
    pointer-events:none
}


.blog-content p {
     color: #455560!important;
    line-height: 1.8;
}


.question-description pre {
    overflow: hidden;
    margin: 2px 0 8px;
    padding: 18px;
    background-color: #f4f7f8 !important;
}

.question-description code {
    white-space: pre-wrap;
    border: none;
    color: #999
}


.comment-input .toastui-editor-toolbar {
    display: none;
}
.comment-input .toastui-editor-mode-switch {
    display: none!important;
}

.comment-input .toastui-editor-defaultUI {
    height: 100%;
    z-index: 100;
    border: 1px solid rgb(239, 242, 245);
    border-radius: 0.625rem;
}

.comment-input .toastui-editor-main-container{
    width: auto;
}

.comment-input .ProseMirror .placeholder {
    color: #999;
    font-family: SVN-Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.toastui-editor-toolbar-icons {
    transform: scale(0.75);
}

.box-shadow-thin {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.markdown-wrap p img {
    max-width: 100%;
    object-fit: contain;
}

.markdown-wrap p h1,
.markdown-wrap p h2,
.markdown-wrap p h3 {
    font-size: 20px;
    font-weight: 700;
}