.ant-comment-content-author {

  > a,
  > span {
    font-size: @heading-4-size;
  }
}

.ant-comment-content-author-name {
  color: @gray-dark;
  font-weight: @font-weight-semibold;

  > * {
    color: @gray-dark;
    font-weight: @font-weight-semibold;

    &:hover {
      color: @primary-color;
    }
  }
}

.ant-comment-content-author-time {
  > * {
    font-size: @heading-5-size;
  }
}

.ant-comment-content-detail {
  p {
    color: @gray-light;
  }

}

.ant-comment-actions {
  > li {

    > span {
      font-size: @font-size-base;
      padding-right: 15px;
    }

    .anticon {
      margin-right: 5px;
    }
  }
}
